@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/***************************/
/*****CUSTOM PROPERTIES*****/
/***************************/
:root {
    --color-primary: #9932cc;
    --color-primary-light: #b366ff;
    --color-primary-dark: #6a0080;
    --color-primary-darker: rgb(70, 22, 95);
    --color-secondary: #fff;
    --color-tertiary: #000;
    --color-quaternary: #909090;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --fontsize-primary: 1.4rem;
    --fontsize-secondary: 1.0rem;
    --widthcard: 100%;
    --font-family: "Source Code Pro", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-family: var(--font-family);
    background: rgba(255, 255, 255, 0.178);
}

/* ********** */
/* BACKGROUND */
/* ********** */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 50vw;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(90deg, rgb(180, 156, 191) 9%, rgba(150, 47, 246, 0.533) 100%);
    animation: rotate 3s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -100;
    position: absolute;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}

.sluiten {
    background-color: black;
    width: 2rem;
    height: 2rem;
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--font-family);
    border-top-right-radius: 5px;

    &:before {
        content: "X";
        color: var(--color-secondary);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.card {

    display: flex;
    align-items: center;
    width: 100%;
    width: -webkit-fill-available;
    height: 100%;
    background-color: var(--color-tertiary);
    border-radius: 15px;
    border: 0 solid darkorchid;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    opacity: 1;
    animation:
        var(--moveIn1, hallo) 1s var(--delay, 0s) ease-in-out 1 backwards,
        var(--moveIn2, hallo) 1s var(--delay, 0s) ease-in-out 1 backwards,
        Glow 10s linear infinite;
    transition: .3s;
    transform: translate(0, 0);
}

@keyframes Glow {
    93% {
        background-color: black;
    }

    95% {
        background-color: darkorchid;
    }

    100% {
        background-color: black;
    }
}

.card:hover {
    transform: scale(1.1);
}

.card:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover:before {
    content: attr(data-name);
    color: var(--color-secondary);
    text-decoration: none;
    text-align: center;
}

.card:target {

    width: 80%;
    max-width: 37.5rem;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    z-index: 5;
    background-color: var(--color-primary-darker);
    animation: unset;
    text-decoration: none;
    padding: 1em;
    padding-block: 3em;
    box-shadow: var(--color-primary-darker) 0 0 0 5px,
        #0006 inset 4.5em 4.5em 1em,
        #fff1 inset -4.5em -4.5em 1em;





    &::before {
        content: "";
        width: 100%;
        height: 3.5em;
        background-color: var(--color-primary);
        border-radius: 15px 15px 0 0;
        position: absolute;
        box-shadow: var(--color-primary-darker) 0 0 0 5px;
        z-index: 10;
        top: 0;
        right: 0;
    }

    &::after {
        content: "";
        width: 100%;
        height: 3.5em;
        bottom: 0;
        left: 0;
        background-color: var(--color-primary);
        position: absolute;
        border-radius: 0 0 15px 15px;
        box-shadow: var(--color-primary-darker) 0 0 0 5px;
        z-index: 1;
    }

    &:hover {
        &:before {
            content: "";
        }
    }

    a {
        text-decoration: dotted;
        color: white;
    }


    ul {
        justify-self: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 1rem;

        li {
            max-width: 80%;
            min-width: 50%;
            display: flex;
            justify-content: center;
        }

        li a {
            display: none;
        }

        li:nth-of-type(1) {
            align-self: center;
            display: flex;
        }

        li:nth-of-type(2) {
            align-self: center;
            display: flex;
        }

        li:nth-of-type(3) {
            align-self: center;
            display: flex;

        }

        li:nth-of-type(4) {
            align-self: center;
            display: inline;
            order: 1;
        }

        li:nth-of-type(5) {
            align-self: center;
            display: inline;
            order: 2;
        }

        li:nth-of-type(6) {
            align-self: center;
            display: flex;

        }

        li:nth-of-type(7) {
            align-self: center;
            display: flex;

        }

        img {
            width: 40%;
            aspect-ratio: 1/1;
            box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.5);
        }


    }

    >article {
        width: 100%;
        height: 100%;

        .card-content-container {
            height: 100%;
            width: 100%;
        }
    }

    .sluiten {
        display: block;
        top: 2em;
        right: 4em;
    }
}

li {
    list-style-type: none;
}

.card article {
    flex: 1;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
}



/* ********* */
/* CARD FLIP */
/* ********* */


.card:target {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:target .card-face {
    height: max-content;
    width: 100%;
    backface-visibility: hidden;
}

.card:target .card-back {
    width: 100%;
    max-width: 37.5rem;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
    background-color: var(--color-primary-darker);
    text-decoration: none;
    padding: 1em;
    padding-block: 3em;
    box-shadow: var(--color-primary-darker) 0 0 0 5px,
        #0006 inset 4.5em 4.5em 1em,
        #fff1 inset -4.5em -4.5em 1em;
    transform: rotateY(180deg);

}

.card-back p,
.card-back img,
.card-back a {
    display: none;
}

.card:target .card-back p,
.card:target .card-back img,
.card:target .card-back a {
    display: block;
    align-self: center;
}

.card:target .card-back img {
    width: 80%;
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.5);

}

.card.is-flipped {
    transform: translate(-50%, -50%) rotateY(180deg);
}

.card:target div {
    border-radius: 5px;
    box-sizing: unset;
    border: none;
}

.card:target .toggleCardBtnFront,
.card:target .toggleCardBtnBack {
    display: block;
    width: 2em;
    height: 2em;
    background-color: #b366ff;
    z-index: 10;
    position: absolute;
}

.card:target .toggleCardBtnBack {
    top: 2rem;
}

.card:target .toggleCardBtnFront {
    top: 2rem;
}

.toggleCardBtnFront,
.toggleCardBtnBack {
    display: none;


}

/* **** */
/* LOGO */
/* **** */

#speakers-container {
    width: 50vw;
    aspect-ratio: 3/2;
    display: grid;
    place-items: center;
    grid-template-columns: 4fr 1fr 8fr 1fr 4fr 2fr 4fr 1fr 8fr 1fr 4fr 2fr 4fr 1fr 8fr 1fr 4fr;
    grid-template-rows: 4fr 1fr 1fr 4fr 1fr 1fr 4fr 2fr 4fr 1fr 1fr 4fr 1fr 1fr 4fr;
}

div {
    background-color: var(--color-tertiary);
    border-radius: 15px;
    width: var(--widthcard);
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    animation: var(--moveIn1, hallo) 1s var(--delay, 0s) ease-in-out 1 backwards,
        var(--moveIn2, hallo) 1s var(--delay, 0s) ease-in-out 1 backwards;
}

ul {
    display: none;
}




/* C */
.loaded #card-1 {
    grid-area: 1/1/2/6;
    --moveIn1: fromLeft;
}

.loaded div:nth-of-type(1) {
    grid-area: 4/1/8/2;
    --moveIn1: fromBottom;
}

.loaded #card-2 {
    grid-area: 7/3/8/6;
    --moveIn1: fromRight;
}

/* S */

.loaded div:nth-of-type(2) {
    grid-area: 1/9/2/12;
    --moveIn1: sPopup;
    --moveIn2: toTop;
    --delay: 1s;
}

.loaded #card-3 {
    grid-area: 1/7/5/8;
    --moveIn1: sPopup;
    --moveIn2: toLeft;
    --delay: 1s;
}

.loaded div:nth-of-type(3) {
    grid-area: 4/9/5/10;
    --moveIn1: middlePop;
    --delay: 1s;
}

.loaded #card-4 {
    grid-area: 4/11/8/12;
    --moveIn1: sPopup;
    --moveIn2: toRight;
    --delay: 1s;
}

.loaded #card-5 {
    grid-area: 7/7/8/10;
    --moveIn1: sPopup;
    --moveIn2: toBottom;
    --delay: 1s;
}

/* s2 */
.loaded #card-6 {
    grid-area: 1/15/2/18;
    --moveIn1: sPopup;
    --moveIn2: toTop;
    --delay: 1.5s;
}

.loaded #card-7 {
    grid-area: 1/13/5/14;
    --moveIn1: sPopup;
    --moveIn2: toLeft;
    --delay: 1.5s;
}


.loaded div:nth-of-type(4) {
    grid-area: 4/15/5/16;
    --moveIn1: middlePop;
    --delay: 1.5s;
}

.loaded div:nth-of-type(5) {
    grid-area: 4/17/8/18;
    --moveIn1: sPopup;
    --moveIn2: toRight;
    --delay: 1.5s;
}

.loaded #card-8 {
    grid-area: 7/13/8/16;
    --moveIn1: sPopup;
    --moveIn2: toBottom;
    --delay: 1.5s;
}

/* d*/

.loaded #card-9 {
    grid-area: 9/1/10/4;
    --moveIn1: fromLeft;
    --delay: 2s
}

.loaded div:nth-of-type(6) {
    grid-area: 9/5/13/6;
    --moveIn1: fromBottom;
    --delay: 2.1s;
}

.loaded #card-10 {
    grid-area: 15/3/16/6;
    --moveIn1: fromBottom;
    --delay: 2.3s;
}

.loaded div:nth-of-type(7) {
    grid-area: 12/1/16/2;
    --moveIn1: fromLeft;
    --delay: 2.4s;
}

/* a */

.loaded #card-11 {
    grid-area: 9/7/10/10;
    --moveIn1: sPopup;
    --moveIn2: toTop;
    --delay: 2s;
}


.loaded #card-12 {
    grid-area: 9/11/16/12;
    --moveIn1: sPopup;
    --moveIn2: toRight;
    --delay: 2s;
}

.loaded #card-13 {
    grid-area: 12/9/13/10;
    --moveIn1: middlePop;
    --delay: 2s;
}

.loaded div:nth-of-type(8) {
    grid-area: 12/7/16/8;
    --moveIn1: sPopup;
    --moveIn2: toLeft;
    --delay: 2s;
}

/* y */

.loaded #card-14 {
    grid-area: 9/13/13/14;
    --moveIn1: fromRight;
    --delay: 2s
}

.loaded div:nth-of-type(9) {
    grid-area: 12/15/13/16;
    --moveIn1: fromBottom;
    --delay: 2.1s;
}

.loaded #card-15 {
    grid-area: 9/17/16/18;
    --moveIn1: fromRight;
    --delay: 2.4s;

}

.loaded #card-16 {
    grid-area: 15/14/16/16;
    --moveIn1: fromBottom;
    --delay: 2.3s;
}


@keyframes fromLeft {
    0% {
        transform: translateX(-50em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(50em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(50em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes middlePop {

    0% {
        opacity: 0;
    }

    50% {
        transform: scale(2);
        opacity: 0;
    }

    70% {
        transform: scale(0.8);
        opacity: 1;
    }

    75% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes toTop {

    70% {
        transform: translateY(0em);
    }

    90% {
        transform: translateY(-1em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes toBottom {

    70% {
        transform: translateY(0em);
    }

    90% {
        transform: translateY(1em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes toLeft {

    70% {
        transform: translateX(0em);
    }

    90% {
        transform: translateX(-1em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes toRight {

    70% {
        transform: translateX(0em);
    }

    90% {
        transform: translateX(1em);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes sPopup {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    75% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}